nav
  ul
    li
      a(href='/home') Home
    li
      a(href='/posts/add') Add equipment
    .accountlist(style="float:right;")
      ul
        li
          a(href='/users/login') Login
        li
          a(href='/users/signup') Signup            
        li
          a(href='/users/logout') Logout  