nav
  ul
    li
      a(href='/home') Home
    li
      a(href='/posts/add') Add equipment
    li
      a(href='/posts/edit') Edit items
    li
      a(href='/posts/delete') Delete post
    .accountlist(style="float:right;")
      ul
        li
          a(href='/users/login') Login
        li
          a(href='/users/signup') Signup            
