extends layout.pug
block content
  h1=message
  .fileupload
      form(action='/posts/?_method=DELETE' method='post' enctype="application/x-www-form-urlencoded")
        
        input(type='hidden' name='_id' value=post.id)
        br
        input(type="hidden" name="_method" value="DELETE") 
        input(type='submit' value="Cancel" onclick="window.history.go(-1); return false;")
        input(type='submit' value="Delete")
