extends layout.pug
block content
  h1=message
  .login
      form(action='login' method='post' enctype='multipart/form-data')
        | Username: 
        input(type='text' name='username')
        br
        |                     Password: 
        input(type='text' name='password')
        br
        input(type='submit')
              