doctype html
head
  meta(charset='UTF-8')
  script(src='index.js')
  title Week 1 assignment
header
.container
  .top-bar
    ul.navbar
      li.nav-view
        a(href='./index.html') View
      li.nav-upload
        a(href='./upload.html') Add
//
  <div class="container">
  <div onload="getAll()">
  </div>
  </div>
#pics(onload='loadImages()')
  img
  h1 wassup
  p.inner
